.card{
    padding: 1rem;
    border: 1px solid #0e2d2d;
    background-color: #ccc7c0;
    margin: 1rem;
}
.modalStyle{
    background-color: antiquewhite;
    height: 20%;
    width: 30rem;
    margin: 18rem auto;
    top: 2rem;
    border: 1rem solid gray;
    border-radius: .4rem;
}
.modalStyle > button{
    margin: 1rem ;
}