.homeContent > button{
  padding: 1rem;
  background-color:blueviolet;
  margin: 1rem;
}
.homeContent{
  display: flex;
  text-align: center;
  margin: 4rem auto;
  justify-content: space-around;
}
.leftContent{
  display: flex;
  flex-direction: column;
}
.rightContent{
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
}