.navBar{
    width: 100vw;
    height: 4rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0 ;
    right: 0; 
    background: linear-gradient(45deg, #bfa8ba  );
}
.navBar > ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: .3rem;
    margin: 1rem;
}
.navBar > ul > li {
    font-size: x-large;
}
.logo{
    width: 7rem;
    border-radius: 4rem;
}
.navItems{
    display: inline-block;
    transition: transform .3s ease;
}
.navItems:hover{
    transform: scale(1.26);
    color:gold
}