.modalStyle {
  background: linear-gradient(135deg, #fffaf0, #716b5a); /* subtle gradient */
  width: 30rem;
  padding: 2rem;
  margin: 10% auto;
  border-radius: 1rem;
  border: .3rem solid rgb(55, 50, 50);

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}
.modalStyle > button{
    margin: 1rem ;
}
.questionsDiv{
  margin: 4rem 7rem;
  padding-left: 7rem;
  /* max-height: 400px;
  overflow-y: auto; */
}
.question{
  color: cornsilk;
  font-size: medium;
  font-weight: bolder;
}
.questionsSubmit{
  margin: 1rem 13rem;
  width: 8rem;
}
.options{
    list-style-type: none;
    margin: .1rem;
    color: #fffefe;
    padding: .2em;
}