html,body{
  height: 100%;
  margin: 0;
  padding: 0;
}
#root {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.categoryContent{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.scoreCard{
  border: 1px solid transparent;
  box-shadow: 1 2 3 rgba(200,11,211,0.2);
}

.homeContent > button{
  padding: 1rem;
  background-color:blueviolet;
  margin: 1rem;
}
.homeContent{
  text-align: center;
  margin: 4rem auto;
}
.scoreCard{
  text-align: center;
}
.questionsDiv{
  margin: 2rem 7rem;
}
.content{
  flex-grow: 1;
  background-color: darkcyan;
}
.question{
  font-size: medium;
  font-weight: bolder;
}
.questionsSubmit{
  margin: 1rem 13rem;
  width: 8rem;
}

.scoreTable {
    font-family: cursive;
    margin: 2rem auto;
    text-align: left;
}
.aboutUs{
    margin: 2rem auto;
    width: 70%;
}
